/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  font-family: Garamond, Georgia, serif;
}

main, footer {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
}

 .breadcrumb {
  font-size: 2em;
 }

 .breadcrumb h1 {
  font-size: inherit;
  display: inline;
 }

.description {
  font-size: 1.5em;
}

.aka {
  font-size: 0.8em;
  color: grey;
}

.aka abbr {
  font-size: 0.8em;
}

.identifier {
  color: grey;
  font-size: 0.5em;
  vertical-align: top;
}

.identifier a {
  margin: 0 3px;
  vertical-align: inherit;
}

footer {
  font-size: 0.8em;
  color: grey;
}