<!DOCTYPE html>
<html>
<head>
  <title>WellcomeMeshBrowser</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <main>
    <%= yield %>
  </main>

  <footer>
    <p><a href="https://www.nlm.nih.gov/mesh/"><abbr title="Medical Subject Headings">MeSH</abbr></a> terms and descriptions are maintained by the <a href="https://www.nlm.nih.gov/">U.S. National Library of Medicine</a>. The data here is from the 2015 edition.</p>

    <p>Part of the <a href="https://wellcome-sandbox.herokuapp.com">What’s in the Library</a> project for Wellcome Library by <a href="http://goodformandspectacle.com">Good, Form &amp; Spectacle</a>.</p>
  </footer>

</body>
</html>
