<!DOCTYPE html>
<html>
<head>
  <title>WellcomeMeshBrowser</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <main>
    <%= yield %>
  </main>

  <footer>
    <p><a href="https://www.nlm.nih.gov/mesh/"><abbr title="Medical Subject Headings">MeSH</abbr></a> terms and descriptions are maintained by the <a href="https://www.nlm.nih.gov/">U.S. National Library of Medicine</a>. The data here is from the 2015 edition.</p>

    <p>Part of the <a href="https://wellcome-sandbox.herokuapp.com">What’s in the Library</a> project for Wellcome Library by <a href="http://goodformandspectacle.com">Good, Form &amp; Spectacle</a>.</p>
  </footer>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-64879930-1', 'auto');
      ga('send', 'pageview');
    </script>

</body>
</html>
